@model SpeechToTextProject.WebUI.Dtos.CreateTranscriptionDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />
        <label>Metin</label>
        <input type="text" asp-for="Text" class="form-control" />
        <br />
        <label>Oluşturma Tarihi</label>
        <input type="text" asp-for="CreaedAt" class="form-control" />
        <br />
        <label>Dil</label>
        <input type="text" asp-for="Language" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </div>
</form>
